# imports

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.tree import DecisionTreeClassifier

In [49]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [50]:

movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [51]:
movies.sample()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
2249,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10402, ""...",NaN,40932,"[{""id"": 11663, ""name"": ""camp""}, {""id"": 155490,...",en,Can't Stop the Music,Movie about the Village People filmed in a doc...,6.574285,"[{""name"": ""EMI Films"", ""id"": 8263}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1980-06-20,0,124.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Musical Comedy Smash of the 80's!,Can't Stop the Music,4.9,9

In [52]:
movies=movies.merge(credits,on='title')

# col to keep
# genere
# keyword
# title
# overview
# cast
# crew

In [53]:
movies=movies[['movie_id',
        'title',
        'overview',
        'genres',
       'keywords',
       'cast',
       'crew']]

In [54]:
movies.sample()

,movie_id,title,overview,genres,keywords,cast,crew
2423,9792,The Hills Have Eyes,Based on Wes Craven's 1977 suspenseful cult cl...,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 53, ""nam...","[{""id"": 502, ""name"": ""ambush""}, {""id"": 1508, ""...","[{""cast_id"": 1, ""character"": ""Doug Bukowski"", ...","[{""credit_id"": ""52fe452ec3a36847f80c0c49"", ""de..."

In [55]:
movies.dropna(inplace=True)

In [56]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [57]:
movies.duplicated().sum()

0

In [58]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [59]:
import ast
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
        return L

In [60]:
movies['genres']=movies['genres'].apply(convert)

In [61]:
movies.sample(10)

,movie_id,title,overview,genres,keywords,cast,crew
2605,15237,De-Lovely,"From Paris to Venice to Broadway to Hollywood,...",[Drama],"[{""id"": 4344, ""name"": ""musical""}, {""id"": 5565,...","[{""cast_id"": 1, ""character"": ""Cole Porter"", ""c...","[{""credit_id"": ""55478ac9c3a3680ce600ba28"", ""de..."
398,298,Ocean's Thirteen,Danny Ocean's team of criminals are back and c...,[Crime],"[{""id"": 585, ""name"": ""casino""}, {""id"": 9727, ""...","[{""cast_id"": 1, ""character"": ""Daniel Ocean"", ""...","[{""credit_id"": ""5676c14992514179d4005d5f"", ""de..."
2697,10368,Tea with Mussolini,Semi-autobiographical film directed by Franco ...,[Comedy],"[{""id"": 131, ""name"": ""italy""}, {""id"": 612, ""na...","[{""cast_id"": 1, ""character"": ""Elsa Armistan"", ...","[{""credit_id"": ""52fe43619251416c7500e239"", ""de..."
1841,41630,No Strings Attached,Emma is a busy doctor who sets up a seemingly ...,[Comedy],"[{""id"": 494, ""name"": ""father son relationship""...","[{""cast_id"": 14, ""character"": ""Emma Kurtzman"",...","[{""credit_id"": ""58af1db8c3a3684605000048"", ""de..."
3163,348,Alien,"During its return to the earth, commercial spa...",[Horror],"[{""id"": 803, ""name"": ""android""}, {""id"": 1825, ...","[{""cast_id"": 3, ""character"": ""Arthur Dallas"", ...","[{""credit_id"": ""52fe423bc3a36847f800e117"", ""de..."
2235,106747,Machete Kills,Ex-Federale agent Machete is recruited by the ...,[Action],"[{""id"": 534, ""name"": ""mexico""}, {""id"": 833, ""n...","[{""cast_id"": 11, ""character"": ""Machete Cortez""...","[{""credit_id"": ""52fe4a70c3a36847f81cde43"", ""de..."
1335,96721,Rush,A biographical drama centered on the rivalry b...,[Drama],"[{""id"": 5378, ""name"": ""world champion""}, {""id""...","[{""cast_id"": 2, ""character"": ""Niki Lauda"", ""cr...","[{""credit_id"": ""52fe49bf9251416c750d20f1"", ""de..."
3648,13685,Bottle Rocket,Upon his release from a mental hospital follow...,[Comedy],"[{""id"": 380, ""name"": ""brother brother relation...","[{""cast_id"": 1, ""character"": ""Anthony Adams"", ...","[{""credit_id"": ""52fe458b9251416c7505a3bf"", ""de..."
2556,947,Lawrence of Arabia,An epic about British officer T.E. Lawrence's ...,[Adventure],"[{""id"": 487, ""name"": ""cairo""}, {""id"": 1975, ""n...","[{""cast_id"": 18, ""character"": ""T.E. Lawrence"",...","[{""credit_id"": ""5715157dc3a3684122010c0c"", ""de..."
2826,9762,Step Up,Everyone deserves a chance to follow their dre...,[Music],"[{""id"": 246, ""name"": ""dancing""}, {""id"": 1605, ...","[{""cast_id"": 1, ""character"": ""Tyler Gage"", ""cr...","[{""credit_id"": ""569591f2c3a3687185000de0"", ""de..."

In [62]:
movies['keywords']=movies['keywords'].apply(convert)

In [63]:
movies['keywords']

0                      [culture clash]
1                              [ocean]
2                                [spy]
3                          [dc comics]
4                     [based on novel]
                     ...
4804    [united states–mexico barrier]
4805                              None
4806                            [date]
4807                              None
4808                       [obsession]
Name: keywords, Length: 4806, dtype: object

In [64]:
import ast
def convert3(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter !=3:
            L.append(i['name'])
            counter+=1
        else:
            break
        return L

In [65]:
movies['cast']=movies['cast'].apply(convert3)

In [66]:
movies['cast']

0       [Sam Worthington]
1           [Johnny Depp]
2          [Daniel Craig]
3        [Christian Bale]
4         [Taylor Kitsch]
              ...
4804    [Carlos Gallardo]
4805       [Edward Burns]
4806        [Eric Mabius]
4807      [Daniel Henney]
4808     [Drew Barrymore]
Name: cast, Length: 4806, dtype: object

In [67]:
import ast
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director': 
           L.append(i['name'])
           break
    return L

In [69]:
movies['crew']=movies['crew'].apply(fetch_director)

In [71]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [72]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",[Action],[culture clash],[Sam Worthington],[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",[Adventure],[ocean],[Johnny Depp],[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...",[Action],[spy],[Daniel Craig],[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",[Action],[dc comics],[Christian Bale],[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...",[Action],[based on novel],[Taylor Kitsch],[Andrew Stanton]

In [75]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x] if x is not None else x)
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x] if x is not None else x)
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x] if x is not None else x)
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x] if x is not None else x)

In [76]:
movies.sample(4)

,movie_id,title,overview,genres,keywords,cast,crew
1412,2447,The Nativity Story,"[Mary, and, Joseph, make, the, hard, journey, ...",[Drama],[jesuschrist],[KeishaCastle-Hughes],[CatherineHardwicke]
980,10386,The Iron Giant,"[In, the, small, town, of, Rockwell,, Maine, i...",[Adventure],[coldwar],[EliMarienthal],[BradBird]
1946,72113,Carnage,"[After, 11-year-old, Zachary, Cowan, strikes, ...",[Comedy],[flat],[KateWinslet],[RomanPolanski]
2696,14557,Dead Man on Campus,"[Josh, Miller, (Tom, Everett, Scott), is, a, s...",[Comedy],[college],[TomEverettScott],[AlanCohn]

In [77]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [78]:
movies['tags']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805                                                  NaN
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807                                                  NaN
4808    [Ever, since, the, second, grade, when, he, fi...
Name: tags, Length: 4806, dtype: object

In [80]:
new_df=movies[['movie_id','title','tags']]

In [81]:
new_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,NaN
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,NaN
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [84]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x) if isinstance(x, list) else "" if x is None else x)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_6248\3102651639.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x) if isinstance(x, list) else "" if x is None else x)

In [85]:
new_df['tags']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805                                                  NaN
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807                                                  NaN
4808    Ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [87]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join([i.lower() for i in x]) if isinstance(x, list) else "" if pd.isna(x) else x.lower() if isinstance(x, str) else "")

C:\Users\lenovo\AppData\Local\Temp\ipykernel_6248\4217757784.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join([i.lower() for i in x]) if isinstance(x, list) else "" if pd.isna(x) else x.lower() if isinstance(x, str) else "")

In [88]:
new_df['tags']

0       in the 22nd century, a paraplegic marine is di...
1       captain barbossa, long believed to be dead, ha...
2       a cryptic message from bond’s past sends him o...
3       following the death of district attorney harve...
4       john carter is a war-weary, former military ca...
                              ...
4804    el mariachi just wants to play his guitar and ...
4805
4806    "signed, sealed, delivered" introduces a dedic...
4807
4808    ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [91]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')
vectors=cv.fit_transform(new_df['tags']).toarray()

In [92]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [94]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [97]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [99]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_6248\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [100]:
from sklearn.metrics.pairwise import cosine_similarity

In [103]:
similarity=cosine_similarity(vectors)

In [104]:
similarity[0]

array([1.        , 0.        , 0.05163978, ..., 0.        , 0.        ,
       0.        ])

In [111]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])
    for i in movies_list[1:6]:  
        print(new_df.iloc[i[0]].title)


recommend('Avatar')

Apollo 18
Beowulf
Tears of the Sun
The Adventures of Pluto Nash
xXx

In [112]:
recommend('Iron Man')

Avengers: Age of Ultron
Iron Man 2
Iron Man 3
The Devil's Tomb
Cradle 2 the Grave

In [114]:
import pickle

In [119]:
pickle.dump(new_df,open('movie_list.pkl','wb'))

In [117]:
pickle.dump(new_df.to_dict(),open('movies_dict.pkl','wb'))

In [118]:
pickle.dump(similarity,open('similarity.pkl','wb'))